{% extends 'BaseCanoe.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<section class="row align-items-center mb-5">
    <div class="col-md-6">
        <h3 class="text-center">Notre groupe technique</h3>
        <p>
            Découvrez ceux qui se cachent derrière ce projet passionnant. Notre équipe se compose d'une trentaine de membres dévoués, issus de divers programmes de génie à l'Université de Sherbrooke. Animés par une passion commune, nous investissons collectivement de nombreuses heures dans ce projet parascolaire. Chaque membre apporte une expertise unique et une énergie créative, contribuant ainsi à faire avancer notre vision et nos objectifs avec détermination et enthousiasme.
        </p>
        <div class="text-center">
            <a href="equipe.html" class="btn btn-primary">En Apprendre plus sur l'Équipe</a>
        </div>
    </div>
    <div class="col-md-6">
        <img class="img-fluid" src="https://kgo20-bb.s3.us-east-2.amazonaws.com/ImageCanoe/notre-equipe.jpg" alt="Notre équipe">
    </div>
</section>

<section class="row align-items-center mb-5">
    <div class="col-md-6 order-md-2">
        <h3 class="text-center">PARTENAIRE DE L'ÉQUIPE</h3>
        <p>
            Nos partenaires jouent un rôle essentiel dans la préparation de notre participation annuelle à la compétition nationale. En collaborant étroitement avec eux, nous sommes en mesure d'atteindre des résultats remarquables. Leur engagement et leur soutien sont des éléments clés de notre succès.
        </p>
        <div class="text-center">
            <a href="partenaires.html" class="btn btn-primary">Voir nos Partenaires</a>
        </div>
    </div>
    <div class="col-md-6 order-md-1">
        <img class="img-fluid" src="https://kgo20-bb.s3.us-east-2.amazonaws.com/ImageCanoe/will.jpg" alt="Partenaires">
    </div>
</section>

<section class="row align-items-center">
    <div class="col-md-6">
        <h3 class="text-center">À Vos Pagaies !</h3>
        <p>
            Nous sommes ravis de vous présenter notre vidéo promotionnelle de notre participation à la compétition canadienne de Canoë de Béton 2023 à l'Université Western. Un grand merci à toute l'équipe pour leur incroyable implication, qui nous a permis de remporter la première place cette année. Nous tenons à remercier spécialement Félix pour la réalisation de la vidéo. Un sincère merci à tous nos commanditaires pour leur soutien tout au long du projet. Nous vous donnons rendez-vous au printemps prochain pour la prochaine édition ! 🛶
        </p>
        <div class="text-center">
            <a href="https://www.facebook.com/watch/?v=121714877642510" class="btn btn-primary" target="_blank">Voir notre vidéo promotionnelle</a>
        </div>
    </div>
    <div class="col-md-6">
        <img class="img-fluid" src="https://kgo20-bb.s3.us-east-2.amazonaws.com/ImageCanoe/a-vos-pagaie.JPG" alt="À Vos Pagaies">
    </div>
</section>
{% endblock %}
